.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-users-container {

    .action {
        .refresh {
            margin-right: 10px;
        }
    }

    .user-body {
        .edit {
            margin-right: 10px;
        }

        .delete {}
    }
}